﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookMark</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BookMark.styles.css" asp-append-version="true" />
</head>
<body>
    <header>

        @if (User.IsInRole("Reader"))
        {
            <nav id="nav-bar">
                <div><a asp-area="" asp-page="/reader_home">Home</a></div>
                <div><a asp-area="" asp-page="/search">Search</a></div>
                <div><a asp-area="" asp-page="/profile">Profile</a></div>
                <div><a asp-area="" asp-page="/logout">Logout</a></div>
            </nav>
        }
        else if (User.IsInRole("Author"))
        {
            <nav id="nav-bar">
                <div><a asp-area="" asp-page="/author_home">Home</a></div>
                <div><a asp-area="" asp-page="/search">Search</a></div>
                <div><a asp-area="" asp-page="/addBook">Add Book</a></div>
                <div><a asp-area="" asp-page="/profile">Profile</a></div>
                <div><a asp-area="" asp-page="/logout">Logout</a></div>
            </nav>
        }
        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        BookMark - A web application created by Alessandro Mattiuzzo, Software Engeneering Student at Fontys University of Applied Sciences.
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
