﻿* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(../images/paperTexture.jpg);
    background-color: #cccccc;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 30px;
    width: 100%;
    border: 1px solid rgb(18, 188, 132);
    padding-top: 15px;
    border-radius: 15px;
    background-color: #15172b;
}

nav div {
    text-align: center;
    width: auto;
    height: 20px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(18, 188, 132);
}

footer {
    margin-top: auto;
    padding: 5px;
    text-align: center;
    background-color: #15172b;
    color: #d1d1d1;
    border-radius: 20px;
}

#logform {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.form {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #15172b;
    margin: 25px 27% 100px 27%;
    padding: 2% 2% 5% 2%;
    border-radius: 30px;
    color: white;
}

#genre-container {
    background-color: #303245;
    color: #cccccc;
    border-radius: 12px;
    padding-top: 4px;
    padding-bottom: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
    grid-auto-flow: column;
    overflow-x: scroll;
}

.grid-item {
    text-align: center;
}

#book-description {
    height: 155px;
}

@media (max-width: 1024px) {

    .form {
        margin: 25px 15% 100px 15%;
    }
    
}

@media (max-width: 350px) {

    .form {
        margin: 25px 5% 100px 5%;
        padding: 2% 2% 5% 2%;
    }

    .books-slideshow {
        font-size: 15px; grid CONTAINER DDDDDDDDDDDDDDDDDDDDDDDDDD CHANGE
    }

    .books-slideshow h2 {
        font-size:15px;
    }
}

@media (max-width: 280px) {

    .title {
        font-size:16px;
    }
    h4 {
        font-size:13px;
    }

    nav div {
        text-align: center;
        font-size:10px;
        width: auto;
        height: 20px;
    }
}

@media (max-width: 175px) {

    nav {
        display: flex;
        flex-direction:row;
    }

}

#login-form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 480px;
    padding: 20px;
    width: 320px;
}

.title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
}

.subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.subtitle2 {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top:15px;
}

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1 {
    margin-top: 40px;
    color: #eee;
}

.ic2 {
    margin-top: 30px;
    color: #eee;
}

#login-remember-me {
    margin-top: 10px;
    height: auto;
    margin-bottom: 5px;
    color: #eee;
}

.input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
}

.submit:active {
    background-color: #06b;
}

#form-submit {
    margin-top: 25px;
}

#login-form-submit {
    margin-top: 5px;
}

.books-slideshow {
    background-color: black;
    color: white;
    text-align: center;
    border-radius:30px;
    padding: 2px 0 10px 0;
    margin-top:20px;
}


.books-slideshow div {
    background-color: grey;
}

book-details {
    text-align: center;
    width:100%;
}
