﻿@page
@model BookMark.Pages.addBookModel
@{
    ViewData["Title"] = "Add Book";
}

<section class="form">

    <form method="post">

        <div class="title" style="color:  rgb(18, 188, 132);">Add Book</div>
        <h4>Let readers discover your book!</h4>


        <div class="input-container">
            <span asp-validation-for="Book.Title" class="field-validation-error"></span>
            <input asp-for="Book.Title" class="input" placeholder="Title" size="30">
        </div>

        <br>

        <div class="input-container">
            <span asp-validation-for="Book.Isbn" class="field-validation-error"></span>
            <input asp-for="Book.Isbn" class="input" size="30" placeholder="ISBN">
        </div>

        <br>

        <div class="input-container">
            <span asp-validation-for="Book.Description" class="field-validation-error"></span>
            <textarea asp-for="Book.Description" class="input" id="book-description" type="text" size="30" placeholder="Description"></textarea>
        </div>

        <br><br><br><br><br><br><br>

        <div class="input-container">
            <label for="publishdate">Publication Date:</label>
            <br><br>
            <span asp-validation-for="Book.PublishDate" class="field-validation-error"></span>
            <input asp-for="Book.PublishDate" class="input" type="date" size="30" placeholder="Publish Date">
        </div>

        <br><br><br>

        <div class="input-container">
            <span asp-validation-for="Book.Genre" class="field-validation-error"></span>
            <select asp-for="Book.Genre" class="input">
                <option value="null">-- Select Genre --</option>
                <option value="Literary_Fiction">Literary Fiction</option>
                <option value="Mystery">Mystery</option>
                <option value="Thriller">Thriller</option>
                <option value="Horror">Horror</option>
                <option value="Historical">Historical</option>
                <option value="Romance">Romance</option>
                <option value="Western">Western</option>
                <option value="Science_Fiction">Science Fiction</option>
                <option value="Fantasy">Fantasy</option>
                <option value="Dystopian">Dystopian</option>
                <option value="Magical_Realism">Magical Realism</option>
                <option value="Realist_Literature">Realist Literature</option>
            </select>
        </div>

        <br>

        <div class="input-container">
            <label for="pagenumber">Page Number:</label>
            <br><br>
            <span asp-validation-for="Book.PageNumber" class="field-validation-error"></span>
            <input asp-for="Book.PageNumber" class="input" type="number" step="10" value="250">
        </div>

        <br><br>

        <button type="submit" class="submit" id="form-submit">submit</button>

    </form>
</section>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}
