﻿@page
@model BookMark.Pages.author_detailsModel
@{
    ViewData["Title"] = $"{Model.Author.FullName}";
}

<div id="author-details">
    <h1>@Model.Author.FullName</h1>
    <div>Id: @Model.Author.Id</div>
    <div>Email: @Model.Author.Email</div>
    <div>Country: @Model.Author.Country</div>
    <div>@Model.Author.PublishedBooks.Count() Books Published</div>
</div>

<section class="books-slideshow">
    <h2>Published Books</h2>

    <div class="grid-container">

        @foreach (var book in Model.Author.PublishedBooks)
        {
            <div class="grid-item">
                <div>1. <a href="/book_details?isbn=@book.Isbn">@book.Title</a></div>
                <img src="../images/bookcover.png" width="50">
            </div>
        }

    </div>

</section>