﻿@page
@model BookMark.Pages.author_homeModel
@{
    ViewData["Title"] = "My Books";
}

<section class="books-slideshow">
    <h2>Your Published Books</h2>

    <div class="grid-container">

        @foreach (var book in Model.Published)
        {
            <div class="grid-item">
                <div>1. <a href="/book_details?isbn=@book.Isbn">@book.Title</a></div>
                <img src="../images/bookcover.png" width="50">
            </div>
        }

    </div>

</section>