﻿@page
@model BookMark.Pages.book_detailsModel
@{
    ViewData["Title"] = $"{Model.Book.Title}";
}
<div id="book-details">
    <h1>@Model.Book.Title</h1>
    <div><b>by <a href="/author_details?id=@Model.Book.Author.Id">@Model.Book.Author.FullName</a></b></div>
    <div>ISBN: @Model.Book.Isbn</div>
    <div>Published: @Model.Book.PublishDate</div>
    <div>Genre: @Model.Book.Genre</div>
    <div>@Model.Book.PageNumber Pages Long</div>
    <div>@Model.Book.NrOfRatings Rating(s)</div>
    <div>Rating: @Model.Book.GetRating()/5</div>
    <div>Description: @Model.Book.Description</div>
</div>
<br />
<div><b>@Model.Book.Comments.Count Comment(s):</b></div>

<br />

@foreach (var c in Model.Book.Comments)
{
    <div>
        <div><b>Comment by @c.Commenter.FullName - @c.Date</b></div>
        <div>@c.CommentText</div>
    </div>
}

<br />

<form method="post">
    <textarea asp-for="Comment.CommentText" placeholder="Leave a comment..."></textarea>
    <br />
    <button type="submit" asp-route="@Model.Book.Isbn">Submit</button>
</form>