﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<!-- Title & Subtitle on the page -->

<h1>BookMark</h1>
<h4>Your personalized library</h4>
<br>

<img src="../images/bookshelf.png" width="100%">

<!-- Grid with popular books -->

<section class="books-slideshow">
    <h4>All Books</h4>

    <div class="grid-container">

        @foreach (var book in Model.Books)
        {
            <div class="grid-item">
                <div>1. <a href="/book_details?isbn=@book.Isbn">@book.Title</a></div>
                <img src="../images/bookcover.png" width="50">
            </div>
        }

        <!-- OLD STATIC TEMPLATE
        <div class="grid-item">
            <div>1. Book Title</div>
            <img src="../images/bookcover.png" width="50">
        </div>

        <div class="grid-item">
            <div>2. Book Title</div>
            <img src="../images/bookcover.png" width="50">
        </div>

        <div class="grid-item">
            <div>3. Book Title</div>
            <img src="../images/bookcover.png" width="50">
        </div>

        <div class="grid-item">
            <div>4. Book Title</div>
            <img src="../images/bookcover.png" width="50">
        </div>

        <div class="grid-item">
            <div>5. Book Title</div>
            <img src="../images/bookcover.png" width="50">
        </div>
        -->

    </div>

</section>

<br><br>