﻿@page
@model BookMark.Pages.profileModel
@{
}

<div>Your User Id is @User.FindFirst("id")</div>
<div>Your Name is @User.Identity.Name</div>

@if (User.IsInRole("Author"))
{
    <div>Email: @Model.Author.Email</div>
    <div>Nr of Published Books: @Model.Author.PublishedBooks.Count</div>
}

@if (User.IsInRole("Reader"))
{
    <div>Email: @Model.Reader.Email</div>
    <div>Preferred Number of Pages: @Model.Reader.PreferredNumberOfPages</div>
    <div>Preferred Genres:
        @foreach(DomainClassLibrary.Genre g in Model.Reader.LovedGenres)
        {
            <div>@g</div>
        }
    </div>
}