﻿@page
@model BookMark.Pages.reader_homeModel
@{
    ViewData["Title"] = "My Library";
}

<section class="books-slideshow">
    <h2>Books you may like</h2>

    <div class="grid-container">
        
        @foreach (var book in Model.Suggested)
        {
            <div class="grid-item">
                <div>1. <a href="/book_details?isbn=@book.Isbn">@book.Title</a></div>
                <img src="../images/bookcover.png" width="50">
            </div>
        }

    </div>

</section>

<section class="books-slideshow">
    <h2>Popular right now</h2>

    <div class="grid-container">

        @foreach (var book in Model.Popular)
        {
            <div class="grid-item">
                <div>1. <a href="/book_details?isbn=@book.Isbn">@book.Title</a></div>
                <img src="../images/bookcover.png" width="50">
            </div>
        }

    </div>

</section>

<section class="books-slideshow">
    <h2>Read Books</h2>

    <div class="grid-container">

        @foreach (var book in Model.Read)
        {
            <div class="grid-item">
                <div>1. <a href="/book_details?isbn=@book.Isbn">@book.Title</a></div>
                <img src="../images/bookcover.png" width="50">
            </div>
        }

    </div>

</section>

<br>