﻿@page
@model BookMark.Pages.searchModel
@{
    ViewData["Title"] = "Search";
}

<form method="post">
    <div>Search For:</div>
    <!-- 
    <input asp-for="Search.Books"/>
    <label asp-for="Search.Books">Books</label>
    <input asp-for="Search.Authors" />
    <label asp-for="Search.Authors">Authors</label>
    -->
    <span asp-validation-for="Search.Query" class="field-validation-error"></span>
    <input asp-for="Search.Query"placeholder="Search.."/>
    <button type="submit">Search</button>
</form>

@if (Model.Searching == true)
{
    int resultCount = 1;

    foreach (var author in Model.Authors)
    {
        <div class="grid-item">
            <div>@resultCount. <a href="/author_details?id=@author.Id">@author.FullName</a></div>
        </div>
        <br />
        resultCount += 1;
    }

    @foreach (var book in Model.Books)
    {
        <div class="grid-item">
            <div>@resultCount. <a href="/book_details?isbn=@book.Isbn">@book.Title</a></div>
            <img src="../images/bookcover.png" width="50">
        </div>
        <br />
        resultCount += 1; 
    }
}

